@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poetsen+One&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(22, 22, 22);
}

a {
    text-decoration: none;
}

ul a {
    color: #04AA6D;
}

ul {
    margin-left: 1em;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif
}

header,
footer {
    text-align: center;
    font-weight: bold;
    padding: 1em 0;
    font-family: "Josefin Sans", sans-serif;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

header {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

header a {
    margin-left: 2em;
    display: inline-block;
    transition: scale .2s;
}

header nav {
    font-size: .8em;
    padding: 1em 0;
    width: 100vw;
    margin-top: 1em;
    border: 1px solid rgb(201, 201, 201);
    text-transform: capitalize;
}

a.selected {
    transform: scale(1.2);
    font-weight: bolder;
    position: relative;
    display: inline-block;
    width: auto;
}

a.selected::after {
    content: "";
    width: 100%;
    position: absolute;
    display: block;
    height: 2px;
    background-color: #04AA6D;
}

header a:not(.selected):hover {
    scale: 1.2;
}

footer {
    border: 1px solid rgb(201, 201, 201);
    font-size: .8em;
    margin-top: auto;
}

main {
    background-color: rgb(255, 255, 255);
    max-width: 920px;
    width: 80%;
    border-radius: .5em;
}

h1,
h2 {
    font-family: "Josefin Sans", sans-serif;
}

div:has(table) {
    overflow: auto;
    margin: 2em 0;
}

table {
    min-width: 700px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    cursor: pointer;
}

table th {
    font-family: "Josefin Sans", sans-serif;
}

table td,
table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

table th:nth-child(1),
table th:nth-child(3),
table th:nth-child(6) table td:nth-child(1),
table td:nth-child(3),
table td:nth-child(6) {
    width: 20%;
}

.index-main {
    display: flex;
    flex-direction: column;
    gap: 2em;

}

.index-title {
    padding: .2em 40px;
}

.index-subtitle {
    font-size: .8em;
    padding: 0em 40px;
    font-weight: inherit;
}

.index-parragraph {
    padding: 0em 40px;
    font-size: 1.1em;
}

.index-image {
    display: block;
    height: 45vh;
    object-position: top;
    object-fit: cover;
}

.list {
    margin: 1em;
}

.list li {
    margin: .25em 0;
}

.content-main {
    margin: 2em 0;
}

.content-main p,
.content-main div {
    margin: 1em 0;
}

.content-main h2 {
    margin: 1em 0;
}

.content-main img:not(.characteristic-container img) {
    width: 100%;
    height: 45vh;
    object-fit: cover;
}

.hidden {
    display: none;
}

/*
    Page A
*/

.characteristic-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.characteristic-container h2 {
    font-family: "Josefin Sans", sans-serif;
}

.characteristic-container section {
    display: flex;
    gap: 2em;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    width: 29%;
    border: 1px solid gray;
    padding: 1em;
    border-radius: 1em;
    background-color: white;
    transition: scale cubic-bezier(0.075, 0.82, 0.165, 1) .25s, border linear .25s;
    cursor: pointer;
    user-select: none;
    min-width: 250px;
}

.characteristic-container h2 {
    transition: color linear .25s;
}

.characteristic-container section:hover h2 {
    color: rgb(5, 129, 71);
}

.characteristic-container section:hover {
    border: 1px solid rgb(5, 129, 71);
}

.characteristic-container section:hover {
    scale: 1.1;
}

.characteristic-container img {
    width: 100px;
    display: inline-block;
}

/*
    Page b
*/

.b-main ul {
    list-style: none;
}

/*
    Page c
*/

.button-container {
    display: flex;
    gap: 1em;
    justify-content: space-evenly;
    margin: 1em 0;
    flex-wrap: wrap;
}

.button-container button {
    width: 25ch;
    font-weight: bold;
    padding: 1em;
    cursor: pointer;
    background-color: #04AA6D;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    border: none;
    transition: opacity .25s, scale .25s;
    border-radius: .25em;
}

.button-container button:hover {
    opacity: .8;
    scale: 1.05;
}